<h1> <%= @user.email  %> </h1>

<% @user.posts.each do |post| %>
    <li>

         <h2 style="color:red"> All the Posts that <%= @user.email %> created </h2> 


     <h3> <%= post.body %></h3>
          
          <h3>  <%= Like.where(post_id: post.id).count %> likes</h3>


          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>

          <% if pre_like %>
          <%= link_to image_tag('/btnLikeFilled.png', border: 0, :size => "30x30"), post_like_path(post_id: post.id, id: pre_like), method: :delete %>

          <% else %>
          <%= link_to image_tag('/btnLike.png', border: 0, :size => "30x30"), post_likes_path(post_id: post.id), method: :post %>

          <% end %>


                 <%= if post.user_id == current_user.id  

                 link_to image_tag('/btnDeletePost.png', border: 0, :size => "30x30"), post, :method => :delete, :confirm => "Are you sure?" 
                 
                 end 
                 %>



    </li>
  <% end %>