 <% if user_signed_in? %>
 <div>  <h1 style="color:blue">  <%= "Welcome back #{(current_user.email)}" %> </h2> </div>
<% end %>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<h1>All Posts</h1>




<%= link_to image_tag('/btnCreatePost.png', border: 0, :size => "50x50"), new_post_path, class: "new+post" %>



<ul id="posts">
  <% @posts.each do |post| %>
    <li>

         <h2 style="color:red">  Created by  <%= post.user.email %> </h2> 


     <h3> <%= post.body %></h3>
          
          <h3>  <%= Like.where(post_id: post.id).count %> likes</h3>


          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>

          <% if pre_like %>
          <%= link_to image_tag('/btnLikeFilled.png', border: 0, :size => "30x30"), post_like_path(post_id: post.id, id: pre_like), method: :delete %>

          <% else %>
          <%= link_to image_tag('/btnLike.png', border: 0, :size => "30x30"), post_likes_path(post_id: post.id), method: :post %>

          <% end %>


                 <%= if post.user_id == current_user.id  

                 link_to image_tag('/btnDeletePost.png', border: 0, :size => "30x30"), post, :method => :delete, :confirm => "Are you sure?" 
                 
                 end 
                 %>



    </li>
  <% end %>
</ul>

