<h1>Create a New Post</h1>


<%= form_for(@post) do |f| %>
  <ul>
  <% @post.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>